@import url('https://fonts.googleapis.com/css2?family=Albert+Sans:ital,wght@0,100..900;1,100..900&family=VT323&display=swap');
html {
	font-size: 62.5%;
}
h1 {
  font-family: "VT323", monospace;
  font-weight: 400;
  font-style: normal;
  font-size: 2.8rem;
  margin: 0;
}
body {
  font-family: "Albert Sans", sans-serif;
  font-optical-sizing: auto;
  font-size: 1.2rem;
  font-weight: 400;
  font-style: normal;
}

header {
	display: flex;
	justify-content: space-between;
	align-items: center;
}
.hamburger {
	display: block;
	width: 26px;
	cursor: pointer;
	margin-top: 6px;
}
.layout {
	padding: 10px 15px;
}
.search--field-sub {
  margin-bottom: 10px;
}
.search--field-sub:last-child {
  margin-bottom: 0;
}
.tablet-group {
  margin-bottom: 10px;
}
.tablet {
  display: inline-flex;
  padding: 5px 10px;
  margin: 0 5px 0;
  background-color: #eee;
  border-radius: 20px;
  cursor: pointer;
}
.tablet svg {
  width: 12px;
  padding-left: 4px;
}
@media screen and (min-width: 768px) {
  .layout {
    display: flex;
  }
  .hamburger {
    display: none;
  }
  .aside {
    width: 280px;
  }
  .main {
    margin-left: 20px;
    width: auto;
  }
}

@media (prefers-color-scheme: dark) {
  body {
    background: #1a1a1a;
    color: #efefef;
    outline: #000;
  }
  .tablet {
    background-color: #000;
  }
}
